<div class="main-panel" style="overflow:hidden;">
<div class="content">
<div class="jumbotron">
  <div class="container">
<<<<<<< HEAD
    <p class="lead" style="font-size:21px;">{{t "block.pool_rewards"}}</p>
    <span style="font-size:15px;">
    <strong style="font-size:13px;">Block maturity requires up to:</strong> <span class="white-text label label-info" style="font-size:11px;">520</span> <strong style="font-size:13px;">confs.</strong>

=======
    <p class="lead">{{t "block.pool_rewards"}}</p>
    <span>
    {{format-html-message "block.pool_notice.html" success=BlockUnlockDepth}}
>>>>>>> 0abfd95... www/app: read the external pool settings from /api/settings
    </span>
  </div>
</div>

  {{#if model.luck}}
    {{partial "luck"}}
  {{/if}}
  {{outlet}}
</div>
</div>
